html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0px;

	font-family: 'Roboto';
}

.header {
	background-color: darkseagreen;
	color: black;
	padding: 10px;
	text-align: center;

	font-family: 'Times New Roman';
}

.header2 {
	background-color: steelblue;
	color: white;
	padding: 5px;
	margin-top: 20px;
	text-align: center;

	font-family: 'Roboto';
}

.header3 {
	background-color: indianred;
	color: white;
	padding: 5px;
	margin-top: 20px;
	text-align: center;

	font-family: 'Roboto';
}

.wrapper {
	background-color: white;
	max-height: 90%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
}

.internal {
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
}

.left, .right {
	display: flex;
	flex-direction: column;
	max-width: 50%;
	margin: 10px;
	justify-content: center;
}

.interests {
	background-color: powderblue;
	color: black;
	padding: 15px;
	padding-right: 30px;
	font-size: larger;
}

.gallery {
	margin: 5px;
	float: flex;
	width: 200px;
	border: 1px solid grey;
}

.gallery img {
	width: 100%;
	height: auto;
}

.galleryls {
	margin: 5px;
	float: flex;
	width: 400px;
	border: 1px solid grey;
}

.galleryls img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
	font-family: 'Roboto';
}

.photo {
	border-radius: 50%;
	max-width: 80%;
}

.linkimg {
	width: 64px;
	height: 64px;
}

.imageLink {
	text-decoration: none;
}

